
.todo-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
.todoCheck {
  cursor: pointer;
}
  
  i {
    pointer-events: none;
  }

